<div class="d-flex justify-content-center align-items-center">
  <h1>Welcome to Home Page</h1>
</div>

  <% if @user%>
    Logged in as: <%= @user.email%>

    <%= button_to "Log out", logout_path, method: :delete, class:"btn btn-warning" %>
  <% end %>